body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: pink
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: rgb(177, 175, 175);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
}
a {
    text-decoration: none;
    color: #007BFF;
}
a:hover {
    text-decoration: underline;
}
.info {
    text-align: left;
    margin-top: 20px;
}
 ul{
    list-style-type: none;
 }